<div class="form-container">
  <div class="form-title">
    <h1>Edit the private message for your Secret Santa</h1>
  </div>
  <%= form_for [@group, @list], html: { class: 'form-fields-container' } do |f| %>
    <div class="form-field">
      <%= f.label :santa_message %>
      <%= f.text_area :santa_message %>
    </div>
    <div class="form-submit">
      <%= submit_tag "Update message" %>
    </div>
  <% end %>
</div>
