<h1><%= "#{@user.first_name} #{@user.last_name}'s wishlist for the #{@group.name} group" %></h1>


<%= link_to 'Create a new Wish list item', new_group_list_item_path(@group, @list) %>
<ul>
  <% @items.each do |item| %>
  <li><%= link_to "#{item.name}", group_list_item_path(@group, @list, item.id) %></li>
  <% end %>
</ul>

<%= link_to 'Back', group_path(@group.id) %>
