<%= form_for @exclusion_team, url: group_exclusion_teams_path(@group), html: { class: 'form-fields-container' } do |f| %>
  <div class="form-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-submit">
    <%= submit_tag 'Add Exclusion Team' %>
  </div>
<% end %>
