<div class="user-update-form-container">
  <div class="form-title">
    <h1>Edit Your Profile</h1>
  </div>
  <%= render partial: 'users/update_name' %>
  <%= render partial: 'users/update_email' %>
  <%= render partial: 'users/update_password' %>
</div>
