<h1>Edit Profile</h1>

<%= render partial: 'users/update_name' %>
<br>
<br>
<%= render partial: 'users/update_email' %>
<br>
<br>
<%= render partial: 'users/update_password' %>
<br>
<br>
<%= link_to 'Back to Profile', profile_path %>
