<div class="welcome-container">
  <div class="welcome-title">
    <h1>Welcome to Secret Santa</h1>
  </div>
  <div class="welcome-login">
    <%= link_to 'Log In', login_path %>
  </div>
  <div class="welcome-signup">
    <%= link_to 'Sign Up', signup_path %>
  </div>
</div>
