<h1>Welcome to Secret Santa</h1>

<% if current_user%>
  <%= "Welcome, #{current_user.first_name || current_user.email}." %>
  <%= link_to "Sign Out", "/sessions/#{session[:user_id]}", method: :delete %>
<% else %>
  <%= link_to 'Log In', new_session_path %> or
  <%= link_to 'Sign Up', new_user_path %>
<% end %>
