<%= svg('trees') %>
<div class="tree-container">
  <div class="trees-left">
    <svg class="tree"><use xlink:href="#tree-1"></use></svg><svg class="tree"><use xlink:href="#tree-2"></use></svg><svg class="tree"><use xlink:href="#tree-3"></use></svg><svg class="tree"><use xlink:href="#tree-4"></use></svg><svg class="tree"><use xlink:href="#tree-5"></use></svg><svg class="tree"><use xlink:href="#tree-6"></use></svg>
  </div>

  <div class="trees-right">
    <svg class="tree"><use xlink:href="#tree-7"></use></svg><svg class="tree"><use xlink:href="#tree-8"></use></svg><svg class="tree"><use xlink:href="#tree-9"></use></svg><svg class="tree"><use xlink:href="#tree-10"></use></svg><svg class="tree"><use xlink:href="#tree-11"></use></svg><svg class="tree"><use xlink:href="#tree-12"></use></svg>
  </div>
</div>
