<h1>
  <%= @user.first_name %>, in <%= @days %> days your Secret Santa gift exchange will occur
</h1>
<div class="text">
  <p>
    Don't forget that on <%= @group.gift_due_date.strftime("%B %-d, %Y") %>, your secret santa group will be exchanging gifts.
  </p>

  <p>
    If you'd like to see the wish list of your Santa match, log in here: <%= link_to "#{url_for(login_url)}", url_for(login_url) %>.
  </p>

  <p>
    Happy gift giving!
  </p>
</div>
