<div class="container">
  <h1>
    In 14 days, your Secret Santa gift is due.
  </h1>
  <div class="text">
    <p>
      On <%= @group.gift_due_date.strftime("%B %d, %Y") %> (<%= (@group.gift_due_date - Date.current) %> days from now) your gift is due for your secret santa group, <%= @group.name %>.
    </p>

    <p>
      If you haven't checked your Secret Santa's wish list yet, here's a link INSERT LINK HERE.
    </p>    
  </div>
</div>
