<h1>
  Welcome to Secret Santa, <%= "#{@user.full_name}" %>
</h1>

<div class="text">
  <p>
    You have successfully signed up for <%= link_to 'secret-santa.kcmr.io', url_for(root_url)%>, your username
    is: <%= @user.username %>.
  </p>
  <p>
    To log in to the site, click here: <%= link_to "Log in", url_for(@login_url), class: 'button' %>
  </p>
  <p>
    Thank you for joining, see you soon!
  </p>
</div>
