:root {
  --background-primary: #9cb6d9;
  --background-secondary: #a7e4f2;/* gradient to */
  --background-text-primary: #1f5aa6;
  --background-text-secondary: #3b74bf; /* gradient to */
  --button-background: #2da7c7;
  --button-background-hover: #037f8c;
  --button-border: #56acba;
  --form-input: #030406;
  --form-input-background: #cbd5d2;
  --text: #e9ebf2;
  --link: #bdf2ed;
  --border: #a3a19f;
  --notice: #0f0;
  --warning: #f50;
}

html, body {
  height: 100%;
}

html {
  font: 20px sans-serif;
}

body {
  background: linear-gradient(to top, #9cb6d9 15%, #a7e4f2) fixed;
  background: linear-gradient(to top, var(--background-primary) 15%, var(--background-secondary)) fixed;
  background-repeat: no-repeat;
  color: #e9ebf2;
  color: var(--text);
  font-family: 'cabin-regular', sans-serif;
}

#body-holder {
  min-height: 100%;
}

* html #body-holder {
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: 'germania-one-regular', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.6rem;
}

a,
.navbar-groups,
.form-submit input {
  transition-duration: 0.35s;
}

a {
  color: #bdf2ed;
  color: var(--link);
  border-radius: 3px;
}

a:hover {
  color: #e9ebf2;
  color: var(--text);
}

.required {
  color: #f50;
  color: var(--warning);
  font-size: 1.2rem;
  font-weight: bold;
}

.small {
  font-size: 0.8rem;
}

.help-text {
  color: #cbd5d2;
  color: var(--form-input-background);
}

.button {
  text-decoration: none;
  background-color: #2da7c7;
  background-color: var(--button-background);
  border: 4px solid #2da7c7;
  border: 4px solid var(--button-background);
  padding: 10px;
  border-radius: 3px;
}

.button:hover {
  background-color: #037f8c;
  background-color: var(--button-background-hover);
}
