.dashboard-container {
  display: grid;
  padding: 20px;
  min-width: 320px;
  max-width: 850px;
  min-height: 400px;
  margin: 50px auto 0 auto;
  background: linear-gradient(to top, var(--background-text-primary) 25%, var(--background-text-secondary));
  background-repeat: no-repeat;
  border: 6px solid var(--border);
  border-radius: 3px;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "title"
  "personal-links" /* temporary until navbar creation */
  "invitations-groups";
}

.dashboard-title {
  grid-area: title;
  place-self: center;
  font-size: 3rem;
  height: 60px;
}

/* Temporary until navbar creation */
.personal-links {
  grid-area: personal-links;
  place-self: center;
}

.dashboard-inv-grp {
  grid-area: invitations-groups;
  display: flex;
  flex-direction: column;
}

.dashboard-invitations {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
  "title"
  "invitations";
}

.dashboard-invitations-title,
.dashboard-groups-title {
  grid-area: title;
  margin: 10px 0;
}

.dashboard-invitations-inv {
  grid-area: invitations;
  display: flex;
  flex-direction: column;
}

.dashboard-invitations-each-invite,
.dashboard-groups-each-group {
  border: 2px solid var(--border);
  background-color: var(--background-text-secondary);
  margin: 10px 0;
}

.dashboard-invitations-each-invite p,
.dashboard-groups-each-group p {
  margin: 9px;
}

.greeting {
}

.comment {
}

.reply {
  padding: 15px 0;
  margin: 10px 0;
}

.reply a {
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text);
  background-color: var(--button-background);
  border: 4px solid var(--button-background);
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.reply a:hover {
  background-color: var(--button-background-hover);
}

.dashboard-groups {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "title"
  "create"
  "groups";
}

.dashboard-groups-create {
  grid-area: create;
  margin: 10px 0;
}

.dashboard-groups-grp {
  grid-area: groups;
  display: flex;
  flex-direction: column;
}
