.warning,
.notice {
  background: var(--background-text-primary);
  display: block;
  text-align: center;
  padding: 15px;
  font-size: 1.25rem;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border-radius: 3px;
}

.notice {
  /* border: 3px solid var(--button-background-hover); */
  border: 3px solid #00ff00;
}

.warning {
  border: 3px solid red;
}
