.items-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "title"
  "profile-link"
  "data"
  "modify";
  padding: 20px;
  min-width: 320px;
  max-width: 850px;
  min-height: 400px;
  margin: 50px auto 0 auto;
  background: linear-gradient(to top, var(--background-text-primary) 25%, var(--background-text-secondary));
  background-repeat: no-repeat;
  border: 6px solid var(--border);
  border-radius: 3px;
}

.items-edit-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
  "title"
  "fields";
  padding: 20px;
  min-width: 320px;
  max-width: 850px;
  min-height: 400px;
  margin: 50px auto 0 auto;
  background: linear-gradient(to top, var(--background-text-primary) 25%, var(--background-text-secondary));
  background-repeat: no-repeat;
  border: 6px solid var(--border);
  border-radius: 3px;
}

.items-title {
  grid-area: title;
  justify-self: center;
}

.items-profile-link {
  grid-area: profile-link;
}

.items-data {
  grid-area: data;
}

.items-modify {
  grid-area: modify;
}
