.items-container {
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "title title"
  "data links"
  "data modify";
}

.items-edit-container {
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
  "title"
  "fields";
}

.items-title {
  grid-area: title;
  justify-self: center;
}

.items-profile-link {
  grid-area: links;
}

.items-data {
  grid-area: data;
  display: flex;
  flex-direction: column;
}

.items-data span {
  margin-bottom: 20px;
}

.items-modify {
  grid-area: modify;
  display: flex;
  flex-direction: column;
}

.items-modify h2,
.items-modify a {
  margin-bottom: 10px;
}
