.users-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 65px auto;
  grid-template-areas:
  "title"
  "data";
  padding: 20px;
  min-width: 320px;
  max-width: 850px;
  min-height: 300px;
  margin: 50px auto;
  background: linear-gradient(to top, var(--background-text-primary) 25%, var(--background-text-secondary));
  background-repeat: no-repeat;
  border: 6px solid var(--border);
  border-radius: 3px;
}

.users-title {
  grid-area: title;
  justify-self: center;
}

.users-data {
  grid-area: data;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.25rem;
}

.users-information {
  align-self: center;
}

.users-information p {
  margin: 10px 0;
}

.users-group-invitation {
  margin: 10px 0 20px 0;
}

.users-update {

}

/* .groups-form-fields-container .form-field label {
  display: block;
  margin-bottom: 10px;
} */
