<h2>My Secret Santa Assignment</h2>
<div class="groups-santa-user-info">
  <div class="groups-santa-name">Matched with <%= "#{@santa.full_name}" %></div>
  <div class="groups-santa-link"><%= link_to "#{@santa.full_name}'s Wish List", group_list_path(@group, @group.user_wish_list(@santa).id) %></div>
</div>
